{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Hi, {{ Config.USER_TYPE[current_user.role]}} {{ current_user.username }}!</h1>
    {% if form %}
    {{ wtf.quick_form(form, form_type='inline') }}
    <br>
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    Email
                </th>
                <th>
                    Role
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                {% include '_user.html' %}
            {% endfor %}
        </tbody>
    </table>
    

{% endblock %}
