{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <h1>Hi, {{ current_user.username }}!</h1>
    {% if form %}
    {{ wtf.quick_form(form, form_type='inline') }}
    <br>
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Type
                </th>
                <th>
                    Colour
                </th>
                <th>
                    Make
                </th>
                <th>
                    Rate
                </th>
                <th>
                    Seats
                </th>
                <th>
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            {% for car in cars %}
                {% include '_car.html' %}
            {% endfor %}
        </tbody>
    </table>
    

{% endblock %}
